@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-siakad-bg text-siakad-purple font-sans;
  }
}

@layer components {
    .sidebar-item {
        @apply flex items-center px-6 py-3 text-white hover:bg-siakad-light-purple transition-colors duration-200;
    }
    .sidebar-item-active {
        @apply bg-siakad-light-purple;
    }
    .card {
        @apply bg-white p-6 rounded-2xl shadow-sm border border-gray-100;
    }
}
